streamlit
pymupdf
python-docx
pytesseract
Pillow
scikit-learn
spacy
python-dotenv
google-generativeai
pdfplumber
spacy
spacy==3.7.2
pdf2image
Pillow
opencv-python-headless
# other Python packages
