streamlit
pymupdf
python-docx
pytesseract
Pillow
scikit-learn
python-dotenv
google-generativeai
pdfplumber
spacy   or spacy==3.7.2 (but not multiple spacy lines)
pdf2image
Pillow
opencv-python-headless
# other Python packages
